
<header>
  <section class="pt-5 pb-5 bg-dark inner-header">
    <div class="container">
      <div class="sticky">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="mt-0 mb-3 text-white">Тут будет лого... или не будет.</h1>
          <div class="breadcrumbs">
            <p class="mb-0 text-white"><%= link_to 'Главная', root_path %>  /
              <%= link_to 'Доставка', delivery_path %>  /
              <%= link_to 'Оплата', payment_path %>  /
              <%= link_to 'О нас', about_path %>  /  <span class="text-success">About</span></p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
</header>
